<h1>Convert <%=@original_currency %> </h1>
<p>Go <a href="/">back</a>.</p>

 <ul>
 <% @currencies.each do |currency| %>
<a href="/<%= @original_currency %>/<%= currency %>">Convert 1 <%= @original_currency %> to <%= currency %>...</a>
<% end %>
</ul>
